<mdb-navbar SideClass="navbar navigation-header fixed-top navbar-expand-lg navbar-dark scrolling-navbar"
            id="navegationHeader" [containerInside]="false">
  <logo>
    <a class="logo navbar-brand main-logo" href="#"><h1>foodie</h1></a>
  </logo>
  <links>
    <ul class="navbar-nav ml-auto nav-flex-icons">

        <!--<li class="nav-item mr-auto" *ngIf="foodieUser.userName">
          <a class="nav-link" [routerLink]="['item', foodieUser._id]">
            Favorite <i class="fas fa-heart"></i>
          </a>
        </li>-->
        <li class="nav-item mr-auto" *ngIf="foodieUser.userName">
          <a class="nav-link pl-md-4" [routerLink]="['item/list', foodieUser._id]">
            My recipes <i class="fas fa-utensils"></i>
          </a>
        </li>

        <li class="nav-item mr-auto  pl-md-4" *ngIf="foodieUser.userName">
          <a class="nav-link" [routerLink]="['/private/editor']">
            New recipe <i class="fas fa-plus"></i>
          </a>
        </li>

      <li class="nav-item pl-md-4">
        <a class="nav-link">
          <div class="btn-group" mdbDropdown>
            <a mdbDropdownToggle>
                {{foodieUser.userName}} {{foodieUser.userLastName}}
              <i *ngIf="!foodieUser.userProfilePicture" class="fas fa-user"></i>
              <img *ngIf="foodieUser.userProfilePicture" class="rounded-circle" alt="10x10"
                   src="{{foodieUser.userProfilePicture}}"
                   data-holder-rendered="true">
            </a>
            <!--<mdb-icon fas icon="user" mdbDropdownToggle></mdb-icon>-->
            <div class="dropdown-menu dropdown-menu-right dropdown-primary">
              <div *ngIf="!foodieUser.userName">
                <a class="dropdown-item" [routerLink]="['/authentication', 'login']">Login</a>
                <a class="dropdown-item" [routerLink]="['/authentication', 'register']">Sign up</a>
              </div>
              <div *ngIf="foodieUser.userName">
                <a class="dropdown-item" [routerLink]="['/private/account']">My account</a><!--No implementada-->
                <div class="divider dropdown-divider"></div>
                <a class="dropdown-item" (click)="logOut()" [routerLink]="['']">Log out</a>
              </div>
            </div>
          </div>
        </a>
      </li>




    </ul>
  </links>
</mdb-navbar>
