<ul class="list-group">
  <li class="list-group-item active">
    <div class="md-v-line"><i class="fas fa-info-circle mr-2"></i> Información:</div>
  </li>
  <li class="list-group-item">
    <div class="md-v-line">Nivel: medio</div>
  </li>
  <li class="list-group-item">
    <div class="md-v-line"></div>Kcal por 100g: 1000
  </li>
  <li class="list-group-item">
    <div class="md-v-line"></div>Preparación: 30 min
  </li>
  <li class="list-group-item">
    <div class="md-v-line"></div>Comensales: 4
  </li>
  <li class="list-group-item">
    <div class="md-v-line"></div>Precio: 10€
  </li>
</ul>
