
<!-- Jumbotron -->
<div class="jumbotron  bg-transparent">
  <!-- Title -->
  <h4 class="card-title h4 pb-2"><strong>Pancakes caseros, receta hondureña</strong></h4>
  <div class="row">
    <div class="col-md-6">
      <!-- Card image -->
      <div class="view overlay my-4">
        <img src="https://www.laprensa.hn/csp/mediapool/sites/dt.common.streams.StreamServer.cls?STREAMOID=6AqISDOitD3R108fEpySUc$daE2N3K4ZzOUsqbU5sYuJQuNqrMMZHuV$aZ3YWHccWCsjLu883Ygn4B49Lvm9bPe2QeMKQdVeZmXF$9l$4uCZ8QDXhaHEp3rvzXRJFdy0KqPHLoMevcTLo3h8xh70Y6N_U_CryOsw6FTOdKL_jpQ-&CONTENTTYPE=image/jpeg" class="img-fluid" alt="">
        <a href="#">
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>
    </div>
    <div class="col-md-6">
      <app-note-book></app-note-book>
      <!-- <div class="envoltorio">
        <h4>Notes</h4>
        <div class="lines">
          <ul id="List">
            <li>Eat Breakfeast</li>
            <li>Feed Pugsly, the cow</li>
            <li>Sit Down</li>
            <li>Eat lunch</li>
            <li>Call mom</li>
            <li>Tweet about feeding my cow, pugsly</li>
            <li>Join a hangout in google+</li>
            <li>Prepare Dinner</li>
            <li>Eat Dinner</li>
            <li>Get ready for bed</li>
            <li>Go to bed</li>
          </ul>
        </div>

      </div> -->

      <!-- <h5 class="indigo-text h5 mb-4">Pancakes caseros, receta hondureña</h5> -->

      <!-- <p class="card-text">Sorprende a tu familia con esta fabulosa receta de pancakes tal y como los preparaba tu madre cuando eras pequeño.</p> -->

    </div>
  </div>






  <!-- Linkedin --
  <a class="fa-lg p-2 m-2 li-ic"><i class="fab fa-linkedin-in grey-text"></i></a>
  <!-- Twitter --
  <a class="fa-lg p-2 m-2 tw-ic"><i class="fab fa-twitter grey-text"></i></a>
  <!-- Dribbble --
  <a class="fa-lg p-2 m-2 fb-ic"><i class="fab fa-facebook-f grey-text"></i></a>-->
  <ul class="list-inline">
      <li class="list-inline-item">
          <a class="nav-link"><i class="fa fa-facebook"></i></a>

      </li>
      <li class="list-inline-item">
          <a class="nav-link"><i class="fa fa-twitter"></i></a>
      </li>
      <li class="list-inline-item">
          <a class="nav-link"><i class="fa fa-instagram"></i></a>
      </li>
  </ul>

</div>
<!-- Jumbotron -->

<!-- Horizontal Steppers -->
<div class="row">
  <div class="col-md-12">

    <!-- Stepers Wrapper -->
    <ul class="stepper stepper-horizontal">

      <!-- First Step -->
      <li class="completed">
        <a href="#!">
          <span class="circle">1</span>
          <span class="label">First step</span>
        </a>
      </li>

      <!-- Second Step -->
      <li class="active">
        <a href="#!">
          <span class="circle">2</span>
          <span class="label">Second step</span>
        </a>
      </li>

      <!-- Third Step -->
      <li class="warning">
        <a href="#!">
          <span class="circle"><i class="fas fa-exclamation"></i></span>
          <span class="label">Third step</span>
        </a>
      </li>

    </ul>
    <!-- /.Stepers Wrapper -->

  </div>
</div>
<!-- /.Horizontal Steppers -->
