<div class="container">

  <!-- Jumbotron -->
  <div class="jumbotron  bg-transparent" *ngIf="itemObs | async">


  <!-- Grid row -->
  <h3 class="font-weight-bold mb-3 d-block d-xs-none ml-3"><strong>{{item.itemName}}</strong></h3>
  <br>
  <div class="row">


    <!-- Grid column -->
    <div class="col-lg-8 col-xl-7">

      <!-- Featured image -->
      <div class="view overlay mb-lg-0 mb-4">
        <img class="img-fluid  rounded z-depth-1-half" src="{{item.itemMainImage}}" alt="Sample image">
        <a>
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>

    </div>
    <!-- Grid column -->
    <div class="col-lg-4 col-xl-5">
      <app-note-book></app-note-book>
    </div>

    <!-- Grid column -->
    <div class="col-lg-12 col-xl-12 px-4">

      <!-- Post title -->
      <h3 class="font-weight-bold mb-3 d-none d-xs-block"><strong>{{item.itemName}}</strong></h3>
      <!-- Excerpt -->
      <p class="dark-grey-text mt-5">{{item.itemDescription}}</p>
      <!-- Post data -->
      <p>by <a class="font-weight-bold">Jessica Clark</a>, 19/04/2018</p>

      <!-- Social media -->
      <!-- Linkedin -->
      <div class = "float-right mt-4">
        <a class="fa-lg p-2 m-2 li-ic"><i class="fab fa-linkedin-in"></i></a>
        <!-- Twitter -->
        <a class="fa-lg p-2 m-2 tw-ic"><i class="fab fa-twitter"></i></a>
        <!-- Dribbble -->
        <a class="fa-lg p-2 m-2 fb-ic"><i class="fab fa-facebook-f"></i></a>
      </div>

    </div>
    <!-- Grid column -->

  </div>
    <!-- Grid row -->
    <div *ngIf="instructionsArrayObs | async">
      <app-instruction-list [instructionArray]="instructionsArray"></app-instruction-list>
    </div>

</div>
