.img-fluid{
  object-fit: cover;
  height: 300px;
  margin: 0 auto;
}

.span4 img {
    margin-right: 10px;
}
.span4 .img-left {
    float: left;
}
.span4 .img-right {
    float: right;
}
.container{
  margin-top:110px;
}


@media only screen and (max-width: 600px) {
  .container {
    padding-right: 0px;
    padding-left: 0px;
  }
  .jumbotron {
    box-shadow: none;
  }
}
