<!-- Default form contact -->
<form class="text-center border border-light p-5 mt-5" [formGroup]="itemForm">
  <!-- start container -->
  <div class="container">

    <!-- TITTLE -->
    <br>
    <h3 align="left" class="ml-4">
      <strong>{{'item-editor.creationTitle'|translate}}</strong>
    </h3>
    <br>

    <!-- Row -->
    <div class="row">
      <!-- Col IMAGE -->
      <div class="col-sm-4">
        <img src={{formImage}} class="img-fluid" alt="Responsive image">
        <input type="text" class="form-control mb-3" placeholder="{{'item-editor.mainImage'|translate}}"
               formControlName="itemMainImage" hidden>
        <div class="custom-file">
          <button type="button" class="custom-file-input" id="upload_image"
                  placeholder="{{'item-editor.mainImage'|translate}}"></button>
          <label class="custom-file-label" for="upload_image">{{'item-editor.uploadButtonText1'|translate}}</label>
          <div class="invalid-feedback">Example invalid custom file feedback</div>
        </div>
      </div>
      <!-- Col RECIPE NAME  AND DESCRIPTION-->
      <div class="col-sm-8">
        <!-- Tittle -->
        <input type="text" id="defaultContactFormName" class="form-control mb-4"
               placeholder="{{'item-editor.title'|translate}}" formControlName="itemName">
        <!-- todo: implement error messages for validations -->
        <!--<div *ngIf="itemForm.get('itemName').errors.required">
          El título es obligatorio
        </div>-->

        <!-- Description -->
        <div class="form-group">
          <textarea class="form-control rounded-0" id="exampleFormControlTextarea2" rows="11"
                    placeholder="{{'item-editor.description'|translate}}" formControlName="itemDescription"></textarea>
        </div>
      </div>
    </div>


    <!-- TABS todo: think of moving this to its own component-->
    <tabset (click)="confirmTabSwitch($event)" #tabset>
      <!-- Products tab init -->
      <tab tab2 heading="{{'item-detail.ingredients'|translate}}" id="first"
           select="!disableSwitching && second.active = true" #first>
        <div class="container" formArrayName="productList">
          <div class="row" *ngFor="let product of productList.controls; let i=index" formGroupName="{{i}}">
            <input list="browsers" name="browser" class="form-control col-6 m-3" placeholder="Ingredient {{i+1}}"
                   formControlName='productName'>
            <input type="number" class="form-control col-2 m-3" placeholder="Quantity"
                   formControlName='productMeasurement'>
            <input list="measurementUnitsBrowser" name="browserMeasurementUnits" class="form-control col-2 m-3"
                   placeholder="Measurement unit" formControlName='productUnit'>
          </div>
          <div class="text-left">
            <button (click)="addNewProduct()"
                    class="btn btn-light col-sm-2 mt-3">{{'item-editor.addIngredientButton'|translate}}</button>
          </div>
        </div>
        <datalist id="browsers">
          <option *ngFor="let option of grocery">{{option.translations["en-GB"]}}</option>
        </datalist>
        <datalist id="measurementUnitsBrowser">
          <option *ngFor="let option of measurementUnits">{{option.translations["en-GB"]}}</option>
        </datalist>
      </tab>
      <!-- Instructions tab init -->
      <tab tab3 heading="{{'item-detail.instructions'|translate}}" id="second"
           select="!disableSwitching && third.active = true" #second>
        <div class="mt-2" formArrayName="instructions">
          <div class="row" *ngFor="let instruction of instructions.controls; let i=index;" formGroupName="{{i}}">
            <input type="text" formControlName="instructionOrder" hidden>
            <textarea class="form-control ml-1" placeholder="Instruction {{i+1}}"
                      formControlName="instructionText"></textarea>
          </div>
          <div class="text-left">
            <button (click)="addNewInstruction()"
                    class="btn btn-light col-sm-2 mt-3">{{'item-editor.addStep'|translate}}</button>
          </div>
        </div>
      </tab>
      <!-- End tabs -->
    </tabset>

    <!-- Send button -->
    <button mdbBtn color="info" block="true" type="submit" class="btn btn-success col-sm-2 mt-3" style="float: right;"
            (click)="onSubmit()" [disabled]="itemForm.invalid">Create
    </button>

    <!-- End container-->
  </div>
  <!-- End form -->
</form>

